h2 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

#deadline-list h4 {
  width: 160px;
  float: right;
  margin-top: -3px;
}

.deadline img {
  width: 100px;
  margin-right: 20px;
  float: right;
}
.deadline time {
  font-size: 20px;
}

.navbar {
 margin-bottom: 0px;
}