h2 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

#deadline-list h4 {
  width: 160px;
  float: right;
  margin-top: -3px;
}

.deadline {
 font-size: 11px;
}

img {
  width: 100px;
}

.navbar {
	margin-bottom: 0px;
}