h4 {
  font-size: 12px;
}

.deadline-list h4 {
  width: 160px;
  float: right;
  margin-top: -3px;
}

.deadline-list button {
  margin: 10px;
}

.deadline-list hr {
  margin: 10px 0;
}

.deadline img {
  width: 100px;
  margin-right: 20px;
  float: right;
}

.deadline time {
  font-size: 20px;
}

.deadline .content {
 width: 170px;
}

.signIn {
 margin-bottom: 10px;
}

.deadline-space {
  height: 420px;
}


