<!doctype html>
<html lang="en" ng-app="app" ng-csp>
<head>
  <meta charset="utf-8">
  <title>Coursera Alfred</title>
  <link rel="stylesheet" href="/components/bootstrap-assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <style>[ng-cloak] {display: none}</style>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Coursera Alfred</a>
        <ul class="nav">
          <li class="active"><a href="#">Deadlines</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <section id="courseapp" ng-controller="appCtrl">
      <div class="row">
        <div class="span4">
          <div class="alert alert-success" ng-show="displayLoading">
            <p>
              Pulling your coursera data... Please wait
            </p>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 40%;"></div>
            </div>
          </div>
          <div class="alert alert-info" ng-show="displayOffline">
            <button class="close" data-dismiss="alert">&times;</button>
            <p>
              It seems you are offline, you'd better connect to the network for latest news.  
            </p>
          </div>
          
          <div ng-show="displaySignIn">
            <button class="btn btn-large btn-block btn-link signIn" type="button" ng-click="signIn()">
              Please click me to sign in first.
            </button>
          </div>
          
          <div ng-show="displayDeadlines">  
            <div class="tabbalbe">
              <ul class="nav nav-tabs" id="tabs">
                <li class="active">
                  <a href="#todo" data-toggle="tab">Todo</a>
                </li>
                <li>
                  <a href="#finished" data-toggle="tab">Finished</a>
                </li>
              </ul>
            </div>                            
            <div class="tab-content">
              <div class="tab-pane active" id="todo">              
                <div 
                  class="alert alert-success"
                  ng-hide="(deadlines | hide:removedDeadlines).length"
                >
                  <p>
                    You have no deadline left here;)
                  </p>
                </div>         
                <ul class="unstyled deadline-list" ng-show="(deadlines | hide:removedDeadlines).length">
                  <li
                    class="deadline"
                    ng-repeat="deadline in deadlines| hide:removedDeadlines | orderBy:'time' "
                  >
                    <div class="row-fluid">
                      <div class="span12">
                        <p>
                          <i class="icon-time"></i>
                          <time>{{deadline.time|from_now}}</time>
                        </p>                
                        <img ng-src="{{deadline.course.icon}}" class="img-rounded"/>
                        <div class="content">
                          <a ng-click="openDeadlineInNewTab(deadline)">
                            {{deadline.title}}
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <button
                        class="btn btn-success" ng-click="removeDeadline(deadline)"
                      >
                      Mark as finished
                      </button>
                    </div>
                  <hr/>  
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="finished">              
                <div 
                  class="alert alert-success"
                  ng-hide="removedDeadlines.length"
                >
                  <p>
                    No results here;)
                  </p>
                </div>
        
                <ul class="unstyled deadline-list" ng-show="removedDeadlines.length">
                  <li
                    class="deadline"
                    ng-repeat="deadline in removedDeadlines | orderBy:'time' "
                  >
                    <div class="row-fluid">
                      <div class="span12">
                        <p>
                          <i class="icon-time"></i>
                          <time>{{deadline.time|from_now}}</time>
                        </p>                
                        <img ng-src="{{deadline.course.icon}}" class="img-rounded"/>
                        <div class="content">
                          <a ng-click="openDeadlineInNewTab(deadline)">
                            {{deadline.title}}
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="row-fluid">
                        <button
                          class="btn btn-inverse" ng-click="restoreDeadline(deadline)"
                        >
                        Move back
                        </button>
                    </div>
                  <hr/>  
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>

          <!-- <h2>New Lectures</h2>
          <ul id="course-list">
             <li ng-repeat="course in courses">
               <h4>{{course.name}}</h4>
               <ul>
                 <li ng-repeat="lecture in course.new_lectures">
                   <div ng-bind-html-unsafe="lecture.innerHTML"></div>
                 </li>
               </ul>
             </li>
           </ul>        
          </div> -->

    </section>
  </div>
  <script src="/components/moment/moment.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/jquery/jquery.min.js"></script>
  <script src="/components/bootstrap-assets/js/bootstrap-tab.js"></script>
  <script src="/components/bootstrap-assets/js/bootstrap-alert.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/appCtrl.js"></script>
  <script src="/src/common/alfredStorage.js"></script>
  <script src="/src/common/courseService.js"></script>
  <script src="/src/common/icon.js"></script>
  <script src="js/filters/fromNow.js"></script>
  <script src="js/filters/hide.js"></script>
  </div>
</body>
</html>
